/* Write your code here. */
.faq-item {
  list-style-type: none;
  border: 1px solid #d7dae6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 24px;
}
.button {
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
}
.question {
  color: #52606d;
  font-family: 'Bree Serif';
  font-size: 15px;
}
.question-container {
  display: flex;
  justify-content: space-between;
}
.answer {
  font-family: 'Bree Serif';
  color: #52606d;
  padding: 5px;
}
